/* MULTIPLE SECTIONS -----------------------------------------*/
body {
    margin: 0;
}

.portfolio-container {
    margin: 0;
}

.hero-container,
.about-container,
.projects-container,
.contact-container {
    height: 100vh;
    border: 1px solid;
    margin: 0 15rem;
}

.about-container,
.projects-container,
.contact-container {
    display: flex;
    flex-direction: column;
}

/* HERO -----------------------------------------*/

.hero-container {
    display: flex;
    align-items: center;
}

.hero-container .right,
.hero-container .left {
    width: 50%;
}

.hero-container .right img {
    width: 500px;
    height: 500px;
    display: block;
}

.dev {
    border: 1px solid white;
    position: absolute;
    top: 250px;
    animation: hoverChair 1.5s ease-in-out 0s infinite alternate;
}

.desk {
    border: 1px solid white;
}

@keyframes hoverChair {
    0% {transform: rotate(5deg)}
    100% {transform: rotate(-5deg)}
}

/* ABOUT -----------------------------------------*/

.about-content {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.about-content .left,
.about-content .right {
    width: 50%;
}

.resume-container {
    display: flex;
    align-items: center;
}

.resume-container a {
    margin-left: 5rem;
}

.highlights-container {
    display: flex;
    justify-content: space-between;
}

.highlights-container div {
    border: 1px solid;
    width: 200px;
    height: 250px
}

/* PROJECTS -----------------------------------------*/

.projects-content {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.project {
    border: 1px solid;
    width: 250px;
    height: 400px;
}

.screenshot {
    border: 1px solid red;
    height: 100px;
}

/* CONTACT -----------------------------------------*/
 
.contact-content {
    margin: auto 15rem;
    height: 600px;
    display: grid;
    grid-template-areas: 
                        "form email"
                        "form image";
}

.form,
.email,
.image {
    border: 1px solid;
}

.form {
    grid-area: form;
}

.email {
    grid-area: email;
}

.image {
    grid-area: image;
}