/* MULTIPLE SECTIONS -----------------------------------------*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-container {
    margin: 0;
}

.hero-container,
.about-container,
.projects-container,
.contact-container {
    min-height: 100vh;
    padding: 0 10%;
}

.about-container,
.projects-container,
.contact-container {
    display: flex;
    flex-direction: column;
}

.hero-container,
.projects-container {
    background: #b3e5ff;
}

.about-container,
.contact-container {
    background: #ffeba2;
}

@media (min-width: 768px) {

    .about-container,
    .projects-container,
    .contact-container {
        min-height: fit-content;
        padding: 10%;
    }
}

/* HERO -----------------------------------------*/

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.name {
    margin: 0;
    color: #0a0b0a;
    font-weight: 400;
}

.title {
    margin: 0.25rem 0;
    color: #0a0b0a;
    font-size: 28px;
    text-shadow: 2px 2px #aebabb;
}

.socials a {
    margin-right: 1rem;
    color: #6a5b3e;
    font-size: 1rem;
}

.hero-container .images-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-container img {
    width: 100%;
    height: 100%;
}

.desk {
    animation: hoverDesk 3s ease-in-out 0s infinite alternate;
}

.dev {
    animation: hoverChair 2.5s ease-in-out 0s infinite alternate;
    position: absolute;
}

.section-links {
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-links a {
    background: rgb(255,188,66);
    background: linear-gradient(0deg, rgba(255,188,66,1) 7%, rgba(255,227,161,1) 38%, rgba(246,248,247,1) 81%);
    border-radius: 5px;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: .5rem 1rem;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
        ;

}

.section-links a:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow:
        0.6px 0.7px 2.2px rgba(0, 0, 0, 0.084),
        1.4px 1.7px 5.3px rgba(0, 0, 0, 0.121),
        2.6px 3.1px 10px rgba(0, 0, 0, 0.15),
        4.7px 5.6px 17.9px rgba(0, 0, 0, 0.179),
        8.8px 10.4px 33.4px rgba(0, 0, 0, 0.216),
        21px 25px 80px rgba(0, 0, 0, 0.3)
        ;

}

@keyframes hoverChair {
    0% {transform: rotate(5deg)}
    50% {transform: translate(20px, -30px)}
    100% {transform: rotate(-5deg)}
}

@keyframes hoverDesk {
    to {transform: translateX(10px)}
}

/* tablet */
@media (min-width: 768px) {

    .hero-container .images-container {
        width: 275px;
        position: absolute;
        transform: translateY(-2rem);
        right: 10%;
    }

    .section-links {
        width: 50%;
    }
}

/* ABOUT -----------------------------------------*/

.about-container {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-text {
    margin: 0;
    margin-bottom: 1rem;
    color: black;
    font-size: 16px;
}

.about-content strong {
    color: #4f7b8a;
}

.about-content a {
    text-decoration: none;
    color: black;
    background: rgb(0,204,254);
    background: linear-gradient(0deg, rgba(0,204,254,1) 0%, rgba(174,224,251,1) 40%, rgba(246,248,247,1) 89%);
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: fit-content;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
        ;
}

.about-content a:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow:
        0.6px 0.7px 2.2px rgba(0, 0, 0, 0.084),
        1.4px 1.7px 5.3px rgba(0, 0, 0, 0.121),
        2.6px 3.1px 10px rgba(0, 0, 0, 0.15),
        4.7px 5.6px 17.9px rgba(0, 0, 0, 0.179),
        8.8px 10.4px 33.4px rgba(0, 0, 0, 0.216),
        21px 25px 80px rgba(0, 0, 0, 0.3)
        ;

}

.highlights-container {
    display: flex;
    flex-direction: column;
}

.highlights-container div {
    margin-top: 1rem;
    background: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    height: fit-content;
}

.highlights-container p {
    border-bottom: 1px solid #d4c183;
}

.highlights-container div ul li{
    margin: 0.5rem 0;
}

.kitchen {
    margin: 2rem 0;
    width: 100%;
}

@media (min-width: 400px) {
    .tech-stack-grid {
        display: grid;
        grid-template: auto auto auto auto / auto auto;
        grid-auto-flow: column;
    }

    .highlights-container div ul li {
        margin: 0.25rem 0;
    }
}

/* tablet */
@media (min-width: 768px) {
    .about-container {
        position: relative;
    }

    .about-container h1 {
        margin: 0;
    }

    .about-content {
        position: relative;
    }

    .about-container p {
        margin-top: 5%;
        margin-left: auto;
    }

    .about-container a {
        margin: 1rem 17% 5rem auto;
    }

    .about-text {
        width: 47%;
    }

    .about-container img {
        width: 300px;
        position: absolute;
    }

    .highlights-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .education,
    .tech-stack {
        width: 43%;
    }
}

/* PROJECTS -----------------------------------------*/

.projects-content {
    display: flex;
    flex-direction: column;
}

.project {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background: white;
    border-radius: 5px;

}

.screenshot {
    display: flex;
    align-items: center;
}

.screenshot img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    object-position: 0% 30%;
}

.project-name {
    font-weight: 700;
}

.link-container {
    display: flex;
    justify-content: space-between;
}

.link-container a {
    font-weight: 700;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    background: #ffeba2;
    background: linear-gradient(0deg, #ffbc42 17%, #ffeba2 89%);
    padding: 0.5rem 1rem;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.link-container a:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow:
        0.6px 0.7px 2.2px rgba(0, 0, 0, 0.084),
        1.4px 1.7px 5.3px rgba(0, 0, 0, 0.121),
        2.6px 3.1px 10px rgba(0, 0, 0, 0.15),
        4.7px 5.6px 17.9px rgba(0, 0, 0, 0.179),
        8.8px 10.4px 33.4px rgba(0, 0, 0, 0.216),
        21px 25px 80px rgba(0, 0, 0, 0.3)
        ;
}

.link-container .link-code {
    margin-right: 0.25rem;
}

@media (min-width: 400px) {
    .project {
        display: flex;
    }

    .screenshot img {
        height: initial;
        width: 100px;
    }

    .project-text-container {
        margin-left: 1rem;
    }
}

@media (min-width: 768px) {

    .projects-container {
        display: flex;
        flex-direction: column;
    }

    .projects-container h1 {
        margin-top: 0;
    }

    .projects-content {
        flex-direction: row;
        justify-content: space-between;
        height: 400px;
        margin-bottom: 1rem;
    }

    .project {
        flex-direction: column;
        justify-content: center;
        width: 27%;
        margin-bottom: 0;
    }

    .project-text-container {
        height: 60%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .screenshot img {
        width: 100%;
        height: 110px;
        object-fit: cover;
        object-position: 0% 30%;
    }
}

/* CONTACT -----------------------------------------*/

.form {
    height: fit-content;
    border-radius: 5px;
    padding: 2rem 1rem;
    background: white;
}

.form input,
.form textarea {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
    background: #b0a372;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
}

.form input::placeholder,
.form textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.form .form-message {
    padding-bottom: 8rem;
}

.form button {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: rgb(0,204,254);
    background: linear-gradient(0deg, rgba(0,204,254,1) 0%, rgba(174,224,251,1) 40%, rgba(246,248,247,1) 89%);
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.form button:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow:
        0.6px 0.7px 2.2px rgba(0, 0, 0, 0.084),
        1.4px 1.7px 5.3px rgba(0, 0, 0, 0.121),
        2.6px 3.1px 10px rgba(0, 0, 0, 0.15),
        4.7px 5.6px 17.9px rgba(0, 0, 0, 0.179),
        8.8px 10.4px 33.4px rgba(0, 0, 0, 0.216),
        21px 25px 80px rgba(0, 0, 0, 0.3)
        ;
}

.contact-container .images-container {
    margin-top: 4rem;
    margin-bottom: 1rem;
    position: relative;
    min-height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .images-container img {
    width: 80%;
    position: absolute;
}

.left-arm {
    animation: moveLeftArm 1.5s linear 0s infinite alternate;
}

.right-arm {
    animation: moveRightArm 1.5s linear 1s infinite alternate;
}

.yellow-book {
    animation: hoverYellowBook 2s linear 0s infinite alternate;    
}

.blue-book {
    animation: hoverBlueBook 2s linear 1s infinite alternate;    
}

@keyframes moveLeftArm {
    to {transform: rotate(10deg) translateX(10px)}
}

@keyframes moveRightArm {
    to {transform: rotate(-15deg) translateX(-15px)}
}

@keyframes hoverYellowBook {
    to {transform: translate(5px, 5px) rotate(10deg)}
}

@keyframes hoverBlueBook {
    to {transform: translate(5px, 5px) rotate(10deg)}
}

@media (min-width: 420px) {
    .contact-container .images-container img {
        width: 250px;
    }
}

@media (min-width: 768px) {

    .contact-container {
        position: relative;
    }

    .form {
        margin-left: 2rem;
        width: 50%;
        margin-bottom: 1rem;
    }

    .contact-container .images-container {
        position: absolute;
        display: block;
        width: 85%;
        height: 75%;
    }
    .contact-container .images-container img {
        width: 250px;
        right: 0;
        bottom: 0;
    }
}