/* MULTIPLE SECTIONS -----------------------------------------*/
:root {
    /* color palette */
    --A1: #cf9441;
    --A2: #ff9f00;
    --A3: #ffbc42;
    --A4: #feeccd;
    --A5: #fad488;
    --A6: #6a5b3e;
    --A7: #ffe3a1;
    --A8: #8e7e57;
    --A9: #d4c183;
    --A10: #b0a372;
    --B1: #3a3a32;
    --B2: #21221f;
    --B3: #0a0b0a;
    --B4: #747d77; 
    --B5: #f6f8f7;
    --B6: #aebabb;
    --B7: #cdd2d3;
    --B8: #003746;
    --B9: #00222b;
    --B10: #48646b;
    --C1: #344f57;
    --C2: #00ccfe;
    --C3: #4f7b8a;
    --C4: #dbe9ef;
    --C5: #004665;
    --C6: #73919d;
    --C7: #005b88;
    --C8: #87a7b8;
    --C9: #aee0fb;
    --C10: #94c3dd;

    /* button shadows */
    --unpressed-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                        100px 100px 80px rgba(0, 0, 0, 0.07);
    --pressed-shadow: 0.6px 0.7px 2.2px rgba(0, 0, 0, 0.084),
                    1.4px 1.7px 5.3px rgba(0, 0, 0, 0.121),
                    2.6px 3.1px 10px rgba(0, 0, 0, 0.15),
                    4.7px 5.6px 17.9px rgba(0, 0, 0, 0.179),
                    8.8px 10.4px 33.4px rgba(0, 0, 0, 0.216),
                    21px 25px 80px rgba(0, 0, 0, 0.3);
    --global-margin: 7vh;
    --laptop-font-size: 1.25rem;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-container {
    margin: var(--global-margin);
}

.hero-container,
.about-container,
.projects-container,
.contact-container {
    margin: auto;
    max-width: 1550px;
    min-height: calc(100vh - (var(--global-margin)*2));
}

.about-container,
.projects-container,
.contact-container {
    display: flex;
    flex-direction: column;
}

.hero-container,
.about-container,
.projects-container {
    margin-bottom: var(--global-margin);
}

/* tablet */
@media (min-width: 768px) {
    .portfolio-container {
        margin: calc(var(--global-margin)*2);
    }

    .hero-container,
    .about-container,
    .projects-container {
        margin-bottom: calc(var(--global-margin)*2);
    }
}

/* HERO -----------------------------------------*/

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
}

.name,
.title {
    color: var(-B3)
}

.name {
    margin: 0;
    font-weight: 400;
}

.title {
    margin: 0.25rem 0;
    font-size: 2rem;
    text-shadow: 2px 2px #aebabb;
}

.socials a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--A6);
    font-size: 1.25rem;
    box-shadow: var(--unpressed-shadow);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0.25rem;
    cursor: pointer;
    border: 1px solid;
    position: relative;
}

.socials a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials a:focus {
    background: var(--B7);
    outline: none;
}

.socials a:hover {
    background: var(--B7);
}

.socials a:active {
    background: var(--B5);
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: var(--pressed-shadow);
}

.hero-container .images-container {
    margin: 2rem 0;
    align-self: center;
    position: relative;
    display: inline-block;
    min-width: 40vh;
    min-height: 40vh;
}

.hero-container img {
    width: 100%;
    position: absolute;
}

.section-links {
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.section-links a:nth-child(2) {
    margin: 0 1rem;
}

.section-links a {
    background: linear-gradient(0deg, var(--A3) 7%, var(--A7) 38%, var(--B5) 81%);
    border-radius: 5px;
    font-weight: 700;
    margin: 0.25rem 0;
    padding: .5rem 1rem;
    box-shadow: var(--unpressed-shadow);

}

.section-links a:hover {
    cursor: pointer;
    color: var(--C2);
}

.section-links a:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: var(--pressed-shadow);
}

.section-links a:focus {
    background: var(--B7);
}

.desk,
.screenTopTan,
.screenTopBlack,
.screenRightTan,
.screenRightDarkGray,
.screenRightLightGray,
.screenLeftBottom {
    animation: hoverDesk 3s ease-in-out 0s infinite alternate;
}

.devEyebrows,
.devHead,
.devLeftArm,
.devRightArm,
.devBody {
    animation: hoverChair 2.5s ease-in-out 0s infinite alternate;
}

.screenLeftBottom {
    animation: moveScreenLeftBottom 3s ease-in-out 0s infinite alternate;
}

.screenRightLightGray {
    animation: moveScreenRightLightGray 3s ease-in-out 0s infinite alternate;
}

.screenRightDarkGray {
    animation: moveScreenRightDarkGray 3s ease-in-out 0s infinite alternate;
}

@keyframes hoverChair {
    0% {transform: rotate(5deg)}
    50% {transform: translate(20px, -30px)}
    100% {transform: rotate(-5deg)}
}

@keyframes hoverDesk {
    to {transform: translateX(10px)}
}

@keyframes moveEyebrows {
    0% {transform: rotate(5deg)}
    40% {transform: translate(20px, -25px)}
    50% {transform: translate(20px, -30px)}
    90% {transform: translate(0px, -15px)}
    100% {transform: rotate(-5deg)}
}

@keyframes moveScreenLeftBottom {
    50% {opacity : 1}
    70% {opacity: 0}
    100% {transform: translateX(10px)}
}

@keyframes moveScreenRightLightGray {
    80% {opacity: 1}
    100% {transform: translateX(10px); opacity: 0}
   }

@keyframes moveScreenRightDarkGray {
    10% {opacity : 1}
    20% {opacity: 0}
    100% {transform: translateX(10px)}
}

/* tablet */
@media (min-width: 768px) {

    .hero-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto 400px;
    }

    .hero-container .name {
        margin-top: auto;
        grid-row-start: 2;
    }

    .hero-container .title {
        grid-column-start: 1;
        grid-row-start: 3;
        margin: 5% 0;
    }

    .hero-container .socials {
        grid-column-start: 1;
        grid-row-start: 4;
        margin-bottom: auto;
    }

    .hero-container .section-links {
        align-items: center;
        grid-row-start: 5;
    }

    .hero-container .images-container {
        margin: 0;
        min-width: 30vw;
        min-height: 40vw;
        grid-row-start: 1;
        grid-row-end: -1;
        grid-column-start: 2;
        margin-left: auto;
        transform: translateY(-10%);
    }
}

/* laptop */
@media (min-width: 1024px) {

    .name,
    .section-links a {
        font-size: var(--laptop-font-size);
    }

    .title {
        font-size: 2.5rem;
    }

    .hero-container .images-container {
        min-width: 600px;
        min-height: 600px;
    }
}

/* ABOUT -----------------------------------------*/

.about-container {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-content strong {
    color: var(--C3);
}

.about-content a {
    text-decoration: none;
    color: var(--B3);
    background: linear-gradient(0deg, var(--C2) 0%, var(--C9) 40%, var(--B5) 89%);
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: fit-content;
    box-shadow: var(--unpressed-shadow);
}

.about-content a:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: var(--pressed-shadow);
}

.about-content a:hover {
    background: var(--B7);
}

.about-content a:focus {
    background: var(--B7);
    outline: none;
}

.about-text,
.education,
.tech-stack {
    margin-top: 1rem;
    background: var(--B5);
    border-radius: 5px;
    padding: 1.5rem;
}

.education p,
.tech-stack p {
    margin: 0;
    border-bottom: 1px solid var(--A9);
}

.education ul li,
.tech-stack ul li {
    margin: 0.5rem 0;
}

.about-content .images-container {
    margin: 2rem 0;
    min-width: 100%;
    min-height: 50vw; /*this fixes collapsing div*/
    position: relative;
}

.about-content img {
    width: 100%;
    position: absolute;
}

.left1,
.left2,
.left3 {
    animation: leftSide 2s linear 0s infinite alternate;
}

@keyframes leftSide {
    to {transform: rotate(10deg) translate(-0.9vw, -0.2vw);}
}

/* tablet */
@media (min-width: 768px) {

    .about-container {
        min-height: 0;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-column-gap: 5%;
    }

    .about-container a {
        margin: 2rem 0;
        grid-column-start: 1;
        grid-column-end: -1;
        justify-self: center;
    }

    .about-container .images-container {
        grid-row-start: 1;
        min-height: 0;
        height: 25vw;
        max-height: 450px;
        min-width: 70%;
        max-width: 100%;
        margin: 0;
        overflow: hidden;
    }

    .about-text,
    .education,
    .tech-stack {
        box-sizing: border-box;
        padding: 2.5rem;
        width: 97.5%;
        margin: auto;
        height: 100%;
    }

    .education {
        grid-column-start: 1;
    }

    .tech-stack {
        grid-column-start: 2;
    }
}

/* laptop */
@media (min-width: 1024px) {

    .about-content,
    .about-content p {
        font-size: var(--laptop-font-size);
    }
}

/* PROJECTS -----------------------------------------*/

.projects-content {
    display: flex;
    flex-direction: column;
}

.project {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background: var(--B5);
    border-radius: 5px;
}

.screenshot {
    display: flex;
    align-items: center;
}

.screenshot img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    object-position: 0% 30%;
}

.project-name {
    font-weight: 700;
}

.secret-code-container {
    background: var(--C4);
    border-radius: 10px;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem;
}

.secret-code-title {
    margin-top: 0;
}

.secret-code-title span {
    font-weight: 700;
    text-shadow: 2px 2px var(--A3);
}

.secret-code {
    padding: 1rem;
    background: var(--B5);
    border-radius: 5px;
}

.link-container {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.link-container a {
    font-weight: 700;
    color: var(--B3);
    border-radius: 5px;
    text-decoration: none;
    background: linear-gradient(0deg, var(--A3) 17%, var(--A7) 89%);
    padding: 0.5rem 1rem;
    box-shadow: var(--unpressed-shadow);
}

.link-container a:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: var(--pressed-shadow);
}

.link-container .link-code {
    margin-right: 0.25rem;
}

.secret-code {
    overflow-wrap: break-word;
}

/* tablet */
@media (min-width: 768px) {

    .projects-container {
        display: flex;
        flex-direction: column;
    }

    .projects-container h1 {
        margin-top: 0;
    }

    .projects-content {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .project {
        width: 27%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    .project:nth-child(4) {
        margin-bottom: 0;
    }

    .project-text-container {
        height: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .screenshot img {
        width: 100%;
        height: 110px;
        object-fit: cover;
        object-position: 0% 30%;
    }

    .link-container {
        margin-top: auto;
    }
}

/* laptop */
@media (min-width: 1024px) {
    .project {
        border-radius: 10px;
        margin: 0 1rem;
        padding: 2.5rem;
        box-sizing: border-box;
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .project:nth-child(4) {
        margin-bottom: 0;
    }

    .screenshot img{
        height: 200px;
        object-position: 50% 30%;
    }

    .project-name {
        text-align: center;
    }

    .link-container {
        justify-content: space-around;
    }
}

/* CONTACT -----------------------------------------*/

.form {
    height: fit-content;
    border-radius: 5px;
    padding: 2rem 1rem;
    background: var(--B5);
}

.form input,
.form textarea {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
    background: var(--A8);
    color: var(--B5);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
}

.form input::placeholder,
.form textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--B5);
}

.form .form-message {
    padding-bottom: 8rem;
}

.form button {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: linear-gradient(0deg, var(--C2) 9%, var(--C9) 62%);
    box-shadow: var(--unpressed-shadow);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    color: var(--B3);
}

.form button:hover {
    cursor: pointer;
}

.form button:active {
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: var(--pressed-shadow);
}

.contact-container .images-container {
    margin-top: 4rem;
    margin-bottom: 1rem;
    position: relative;
    min-height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .images-container img {
    width: 250px;
    position: absolute;
}

.left-arm {
    animation: moveLeftArm 1.5s linear 0s infinite alternate;
}

.right-arm {
    animation: moveRightArm 1.5s linear 1s infinite alternate;
}

.yellow-book {
    animation: hoverYellowBook 2s linear 0s infinite alternate;    
}

.blue-book {
    animation: hoverBlueBook 2s linear 1s infinite alternate;    
}

@keyframes moveLeftArm {
    to {transform: rotate(10deg) translateX(10px)}
}

@keyframes moveRightArm {
    to {transform: rotate(-15deg) translateX(-15px)}
}

@keyframes hoverYellowBook {
    to {transform: translate(5px, 5px) rotate(10deg)}
}

@keyframes hoverBlueBook {
    to {transform: translate(5px, 5px) rotate(10deg)}
}

/* laptop */
@media (min-width: 768px) {

    .contact-container {
        min-height: 0;
        display: grid;
        grid-template-columns: 1.25fr 0.75fr;
        grid-template-rows: auto auto;
        grid-column-gap: 1rem;
    }

    .contact-container h1 {
        margin-top: 0;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .contact-container .images-container {
        min-height: 0;
        max-width: 400px;
        margin: 0;
        align-items: flex-end;
    }
    .contact-container .images-container img {
        width: 100%;
    }
}

@media (min-width: 1024px) {

    .contact-container .images-container {
        margin-left: auto;
    }

    .form input,
    .form input::placeholder,
    .form textarea,
    .form textarea::placeholder,
    .form button {
        font-size: 1.25rem;
    }
}